services:
  postgres_db:
    image: postgres:15-alpine
    container_name: postgres_db-container
    environment:
      - POSTGRES_USER=user_dawa
      - POSTGRES_PASSWORD=Dawa#2026!
      - POSTGRES_DB=projdawa
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      # Aqui cargamos el script para crear tablas
      - ./database/init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - app-network

  # --- Microservicio 1: Security ---
  ms-security:
    image: dawaproyecto2/ms-security:latest # Usamos la imagen del hub
    container_name: ms-security-container
    build:
      context: ./ms-security                
      dockerfile: Dockerfile
    restart: always
    environment:
      # Forzamos a que la app use la seccion [PRODUCCION] dentro de Docker
      - ENV=PRODUCCION
    depends_on:
      - postgres_db
    networks:
      - app-network

  # --- Microservicio 2: Administracion ---
  ms-administracion:
    image: dawaproyecto2/ms-administracion:latest
    container_name: ms-admin-container
    restart: always
    environment:
      # Forzamos a que la app use la seccion [PRODUCCION] dentro de Docker
      - ENV=PRODUCCION
    depends_on:
      - postgres_db  
    networks:
      - app-network

  # --- Microservicio 3: Reservas ---
  ms-reservas:
    image: dawaproyecto2/ms-reservas:latest
    container_name: ms-reservas-container
    restart: always
    environment:
      # Forzamos a que la app use la seccion [PRODUCCION] dentro de Docker
      - ENV=PRODUCCION
    depends_on:
      - postgres_db  
    networks:
      - app-network
      
  frontend:
    image: dawaproyecto2/frontend:latest
    container_name: frontend-container
    restart: always
    environment:
      # Forzamos a que la app use la seccion [PRODUCCION] dentro de Docker
      - ENV=PRODUCCION
    depends_on:
      - nginx
      - ms-security
      - ms-administracion
      - ms-reservas
    networks:
      - app-network

  # --- Nginx (Gateway) ---
  nginx:
    image: dawaproyecto2/nginx
    container_name: nginx-container
    restart: always
    ports:
      - "80:80"  # Solo exponemos este puerto al mundo exterior
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    networks:
      - app-network

volumes:
  postgres_data:

networks:
  app-network:
    driver: bridge